# Add all tokens, keys, and credentials below
# Rename this file to creds.bashrc

# Firebase Cloud Messaging Token
# Generate this token after creating a Firebase project and enabling Cloud Messaging
export FCM_TOKEN="?"  

# Database Configuration
export DATABASE_PATH="?"  
export SQL_FILEPATH="./gotps.sql"  

# Admin Portal Credentials
export ADMIN_PORT="?"  
export ADMIN_USERNAME="?"  
export ADMIN_PASSWORD="?"  
